.bar.bar-balanced {
  border-color: #42d340 !important;
  background-color: #42d340 !important;
}
.bar.bar-balanced .title {
  font-size: 14px;
}
.tab-item .icon {
  font-size: 50px;
  height: 50px;
  margin-top: 6px;
}
.tab-item .icon-01 {
  color: transparent;
  background: url(../img/02.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.tab-item .icon-02 {
  color: transparent;
  background: url(../img/01.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.tab-item .icon-04 {
  color: transparent;
  background: url(../img/03.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.tab-item .icon-03 {
  color: transparent;
  background: url(../img/04.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.tab-item .icon-06 {
  color: transparent;
  background: url(../img/05.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.tab-item .icon-05 {
  color: transparent;
  background: url(../img/06.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.tab-item .icon-08 {
  color: transparent;
  background: url(../img/07.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.tab-item .icon-07 {
  color: transparent;
  background: url(../img/08.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.tabs-striped .tab-item.tab-item-active {
  border-color: #42d340;
}
.bar-balanced .button.button-icon {
  font-size: 14px;
}
.img-opacity {
  opacity: 0.75;
}
.theme h3 {
  font-size: 20px;
  color: #909392;
}
.theme p {
  font-size: 12px;
  color: #909392;
}
.slider-slide img {
  width: 100%;
}
.Water-supply {
  background: #b5b5b6;
}
.Water-supply h3 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.Water-supply p {
  font-size: 14px;
  color: #404040;
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
}
#peasIndex .quickPay {
  margin-bottom: 30px;
}
#peasIndex .quickPay .col {
  text-align: center;
  color: #29c326;
  font-size: 16px;
  height: auto;
  margin-bottom: 30px;
  border-right: 2px solid #d5d4d2;
  position: relative;
}
#peasIndex .quickPay .col:last-child {
  border-right: 0;
}
#peasIndex .quickPay .col img {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 27px;
}
#peasIndex .quickPay .col p {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  text-align: center;
}
#community .activity {
  border-bottom: 1px solid #d5d4d4;
  padding-left: 0;
  padding-right: 0;
  margin: 0 16px;
}
#community .activity:last-child {
  margin-bottom: 60px;
}
#community .activity img {
  width: 100%;
  border-radius: 20px;
}
#community .activity h3 {
  font-size: 16px;
  color: #313131;
  font-weight: bold;
  margin-top: 8px;
}
#community .activity p {
  font-size: 12px;
  color: #5a5a5a;
  line-height: 18px;
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
}
.query .col {
  padding: 0 15px 10px;
  height: auto;
  position: relative;
  border-right: 2px solid #d5d4d2;
}
.query .col:last-child {
  border-right: 0;
}
.query .col img {
  width: 100%;
}
.query .col p {
  font-size: 12px;
  color: #2bc42b;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  text-align: center;
}
#selfService .last-query .col {
  border-right: 0;
}
#selfService .last-query .col:first-child {
  border-right: 2px solid #d5d4d2;
}
.hasService .item {
  margin-left: 16px;
  border-bottom: 3px solid #b2aead;
}
.hasService .item:last-child {
  border-bottom: 0;
  margin-bottom: 30px;
}
.hasService .item p {
  font-size: 12px;
}
#members .login {
  width: 100%;
  height: 100px;
  background: #d1d1d1;
  text-align: center;
  padding-top: 14px;
}
#members .loginIn h3 {
  margin-top: 26px;
}
#repair .item-input,
#electricity .item-input,
#payment .item-input,
#reportCard .item-input,
#checkOut .item-input,
#sublet .item-input,
#water .item-input,
#complaint .item-input {
  padding-right: 0;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 2px solid #ccc;
}
#repair .item-input:last-child,
#electricity .item-input:last-child,
#payment .item-input:last-child,
#reportCard .item-input:last-child,
#checkOut .item-input:last-child,
#sublet .item-input:last-child,
#water .item-input:last-child,
#complaint .item-input:last-child {
  border-bottom: 1px solid #ccc;
}
#repair .item-input textarea,
#electricity .item-input textarea,
#payment .item-input textarea,
#reportCard .item-input textarea,
#checkOut .item-input textarea,
#sublet .item-input textarea,
#water .item-input textarea,
#complaint .item-input textarea {
  padding-top: 12px;
  margin-right: 30px;
}
.bigSubmit {
  font-size: 20px;
  width: 208px;
  background: #ffff01;
  display: block;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #000;
  font-weight: bold;
  margin: 80px auto 0;
  color: #000;
}
.readonly {
  font-size: 15px;
}
.readonly-background {
  background: #f8f8f8;
}
.member-readonly {
  display: inline-block;
  width: 58%;
  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.submitMargin {
  margin-top: 20px !important;
  margin-bottom: 80px !important;
  margin-left: 32px;
  margin-right: 32px;
}
.tips {
  font-size: 12px;
  color: #919191;
  text-align: center;
  margin: 15px 0 50px 0;
}
#electricitySubmit,
#paymentSubmit,
#waterSubmit {
  font-size: 17px;
  display: block;
  text-align: center;
  border-radius: 10px;
  margin: 35px 32px 0;
}
.serviceList .item {
  margin-left: 16px;
  border-bottom: 0;
  border-left: 0;
}
.serviceList .item:first-child {
  margin-left: 0;
  padding-left: 32px;
}
.serviceList .item:nth-last-child(2) {
  border-bottom: 2px solid #ccc;
}
.serviceList .item:last-child {
  border-top: 0;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
  padding-left: 32px;
}
.plan .item:nth-of-type(1) {
  padding-left: 0;
  padding-right: 0;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 2px solid #ccc;
}
.plan .col {
  text-align: center;
}
.plan .col span {
  font-size: 14px;
}
.plan .col p {
  font-size: 16px;
}
.plan .col img {
  height: 36px;
}
.plan .col:nth-of-type(3) {
  line-height: 36px;
}
.plan .col:nth-of-type(4) {
  line-height: 36px;
}
.additionalList .item-textarea {
  height: auto;
  padding-right: 32px;
}
.additionalList .textarea-align {
  white-space: pre-wrap;
  color: #000 !important;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  color: #929292 !important;
}
.additionalList .box-span {
  float: right;
}
.additionalList span {
  color: #929292;
  font-size: 14px;
}
.additionalList p {
  font-size: 15px;
  color: #000;
}
.additionalList .item {
  margin-left: 16px;
  border-bottom: 0;
  border-left: 0;
}
.additionalList .item:nth-last-child(2) {
  border-bottom: 2px solid #ccc;
}
.additionalList .item:last-child {
  border-top: 0;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
  padding-left: 32px;
}
.additionalList input {
  font-weight: bold;
  text-align: right;
}
