<ion-view title="附加协议" id="additional">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>附加协议</h3>
				<p>additional agreement</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="list-borderless">
			<ion-item >
				<span>无附加协议</span>
			</ion-item>
		</ion-list>

		<ion-list class="additionalList">

		  <label class="item item-input readonly-background">
		      <span class="input-label">附加协议</span>
		      <span class="readonly">某某协议</span>
		    </label>
		  <label class="item item-input readonly-background">
		      <span class="input-label">有效日期</span>
		      <span class="readonly">有效日期</span>
		    </label>
		  <label class="item item-input item-textarea readonly-background" >
		    <span class="input-label ">附加原因</span>
		    <div class="box-span"><span  class="textarea-align">可填可填可填可填可填可填可填可填可填可填</span></div>
		  </label>

		  <label class="item" >
		    <span class="input-label">协议内容</span>
		     <p>1.XXXXXXXXX</p>
		     <p>2.XXXXXXXXXX</p>
		     <p>3.XXXXXXXXXXX</p>
		   </label>
		</ion-list>
	</ion-content>
</ion-view>
