<ion-view title="职业信息" id="career">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>职业信息</h3>
				<p>Career infornation</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="additionalList">
			<label class="item item-input">
		    <span class="input-label">单位名称</span>
		    <input type="text" name="unit-name" value="豌豆有限公司">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">单位地址</span>
		    <input type="text" name="unit-address" value="广州广东XXXXX">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">所属行业</span>
		    <input type="text" name="industry" value="第三产业">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">工作职位</span>
		    <input type="text" value="position">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">单位电话</span>
		    <input type="text" name="unit-phone" value="020-33333333">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">每月工资</span>
		    <input type="text" name="wages" value="8888">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">就职日期</span>
		    <input type="text" value="2016-9-1">
		  </label>
		  
		</ion-list>
	</ion-content>
</ion-view>
