<ion-view title="证件信息" id="document">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>证件信息</h3>
				<p>Document infornation</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="list-borderless">
			<ion-item >
				<span>无证件信息</span>
			</ion-item>
		</ion-list>

		<ion-list class="additionalList">
			<label class="item item-input">
		    <span class="input-label">证件名称</span>
		    <input type="text"  value="科技XXX奖">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">获得日期</span>
		    <input type="text" value="2016-9-1">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">证件名称</span>
		    <input type="text"  value="科技XXX奖">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">获得日期</span>
		    <input type="text" value="2016-9-1">
		  </label>
		  
		</ion-list>
	</ion-content>
</ion-view>
