<ion-view title="教育讯息" id="educational">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>教育讯息</h3>
				<p>Educational infornation</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="additionalList">
			<label class="item item-input">
		    <span class="input-label">教育程度</span>
		    <span class="member-readonly">本科</span>
		  </label>
		  <label class="item item-input">
		    <span class="input-label">毕业年份</span>
		    <span class="member-readonly">2016-06-27</span>
		  </label>
		  <label class="item item-input" >
		    <span class="input-label">所学专业</span>
		    <span class="member-readonly">平面设计</span>
		  </label>
		   <label class="item item-input" >
		    <span class="input-label">毕业学校</span>
		    <span class="member-readonly">清华大学</span>
		  </label>
		</ion-list>
	</ion-content>
</ion-view>
