<ion-view title="教育讯息" id="educational">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>教育讯息</h3>
				<p>Educational infornation</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="additionalList">
			<label class="item item-input">
		    <span class="input-label">教育程度</span>
		    <input type="text" name="degree" value="本科">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">毕业年份</span>
		    <input type="text" name="year-of-graduation" value="2016-06-27">
		  </label>
		  <label class="item item-input" >
		    <span class="input-label">所学专业</span>
		    <input type="text" name="professional" value="平面设计">
		  </label>
		   <label class="item item-input" >
		    <span class="input-label">毕业学校</span>
		    <input type="text" name="school" value="清华大学">
		  </label>
		</ion-list>
	</ion-content>
</ion-view>
