<ion-view title="租赁合同" id="leaseContract">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>租赁合同</h3>
				<p>Lease contract</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="list-borderless">
			<ion-item >
				<span>无租赁合同</span>
			</ion-item>
		</ion-list>

		<ion-list class="additionalList">
			<label class="item item-input">
		    <span class="input-label">出租人</span>
		    <input type="text"  value="老某某">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">出租人联系电话</span>
		    <input type="text" value="11509282739">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">承租人</span>
		    <input type="text"  value="科技XXX奖">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">承租人联系电话</span>
		    <input type="text" value="1502382535">
		  </label>
		  
		</ion-list>
	</ion-content>
</ion-view>
