<ion-view title="服务价目表" id="priceList">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>服务价目表</h3>
				<p>Service price list</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="list-borderless">
			<ion-item >
				<span>无服务价目表信息</span>
			</ion-item>
		</ion-list>

		<ion-list class="serviceList">
			<ion-item>
				<span>上门打扫</span>
				<span class="item-note">80-100元</span>
			</ion-item>
			<ion-item>
				<span>上门打扫</span>
				<span class="item-note">80-100元</span>
			</ion-item>
			<ion-item>
				<span>上门打扫</span>
				<span class="item-note">80-100元</span>
			</ion-item>
			<ion-item>
				<span>上门打扫</span>
				<span class="item-note">80-100元</span>
			</ion-item>
			<!-- <ion-item ng-repeat="item in items">
				<span>{{item.name}}</span>
				<span class="item-note">{{item.price}}元</span>
			</ion-item> -->
			
		</ion-list>
	</ion-content>
</ion-view>
