<ion-view title="租客守则" id="tenantCode">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>租客守则</h3>
				<p>Tenant code</p>
			</ion-item>
		</ion-list>
		
		
		<ion-list class="additionalList">
			<label class="item item-input">
		    <span class="input-label">出租人</span>
		    <input type="text" value="老某某">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">承租人</span>
		    <input type="text"  value="刘某某">
		  </label>
		  <label class="item" >
		    <span class="input-label">租客守则</span>
		     <p>1.XXXXXXXXX</p>
		     <p>2.XXXXXXXXXX</p>
		     <p>3.XXXXXXXXXXX</p>
		   </label>
		</ion-list>
	</ion-content>
</ion-view>
