<ion-view title="退房结算查询" id="checkOutCheck">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>退房结算查询</h3>
				<p>Check out check</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="list-borderless plan">
			<ion-item>
				<div class="row">
					<div class="col">
						<span>月份</span>
						<p>2016/07</p>
					</div>
					<div class="col">
						<img src="img/selfService/checkOut.png" alt="">
					</div>
					<div class="col">
						<span>退房</span>
					</div>
					<div class="col">
						<span>+100</span>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col">
						<span>月份</span>
						<p>2016/07</p>
					</div>
					<div class="col">
						<img src="img/selfService/checkOut.png" alt="">
					</div>
					<div class="col">
						<span>退房</span>
					</div>
					<div class="col">
						<span>+100</span>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
