<ion-view title="申请退房" id="checkOut">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>申请退房</h3>
				<p>Application check out</p>
			</ion-item>
		</ion-list>
		
		<form action="">
			<ion-list class="list-borderless">
				<label class="item item-input readonly-background">
				    <span class="input-label">房号</span>
				    <span class="readonly">7B08</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">姓名</span>
				    <span class="readonly">LALL</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">电话</span>
				    <span class="readonly">123456789</span>
				  </label>
				   <label class="item item-input">
				    <span class="input-label">退房时间</span>
				    <input type="date" name="checkOut-time">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">退房原因</span>
				    <textarea name="question" cols="30" rows="2"  placeholder="填写退房内容"></textarea>
				  </label>
			</ion-list>

			<a class="button button-balanced button-block submit submitMargin" id="checkOutSubmit" >退房申请</a>
		</form>
				<div class="item item-divider" style = "background:#fff;border:0px;">
				
		</div>
	</ion-content>
</ion-view>
