<ion-view title="网上投诉" id="complaint">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>网上投诉</h3>
				<p>Online complaint</p>
			</ion-item>
		</ion-list>
		
		<form action="">
			<ion-list class="list-borderless">
				<label class="item item-input readonly-background">
				    <span class="input-label">房号</span>
				    <span class="readonly">7B08</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">姓名</span>
				    <span class="readonly">LALL</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">电话</span>
				    <span class="readonly">123456789</span>
				  </label>
				  <label class="item item-input">
				    <span class="input-label">网上投诉</span>
				    <textarea name="question" cols="30" rows="2"  placeholder="填写投诉内容"></textarea>
				  </label>
			</ion-list>

			<a class="button button-balanced button-block submit submitMargin" id="complaintSubmit" >网上投诉</a>
		</form>
				<div class="item item-divider" style = "background:#fff;border:0px;">
				
		</div>
	</ion-content>
</ion-view>
