<ion-view title="电费充值" id="electricity">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>电费充值</h3>
				<p>Electricity charge</p>
			</ion-item>
		</ion-list>
		
		<form action="">
			<ion-list class="list-borderless">
				<label class="item item-input">
				    <span class="input-label">房号</span>
				    <input type="text" name="roomNumber" value="7B08">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">姓名</span>
				    <input type="text" name="name" value="LALL">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">电话</span>
				    <input type="text" name="phone" value="123456789">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">支付流水号</span>
				    <input type="text" name="payNumber" value="24tp">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">支付项目</span>
				    <input type="text" name="project" value="电费">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">支付金额</span>
				    <input type="text" name="money" value="24tp">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">服务清单</span>
				    <input type="text" name="listing" value="24tp">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">费用描述</span>
				    <input type="text" name="describe" value="24tp">
				  </label>
			</ion-list>

			<a class="button button-full submit" id="electricitySubmit">付款确认</a>

			<p class="tips">如果你点击“付款确认”按钮,即表示您打算支付相关费用。</p>	
		</form>	


		<div class="item item-divider" style = "background:#fff;border:0px;">
				
		</div>
	</ion-content>

</ion-view>
