<ion-view title="电费充值" id="electricity">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>电费充值</h3>
				<p>Electricity charge</p>
			</ion-item>
		</ion-list>
		
		<form action="">
			<ion-list class="list-borderless">
				<label class="item item-input readonly-background">
				    <span class="input-label">房号</span>
				    <span class="readonly">7B08</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">姓名</span>
				    <span class="readonly">LALL</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">电话</span>
				    <span class="readonly">123456789</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">支付流水号</span>
				    <span class="readonly">24tp</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">支付项目</span>
				    <span class="readonly">电费</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">支付金额</span>
				    <span class="readonly">24tp</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">服务清单</span>
				    <span class="readonly">24tp</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">费用描述</span>
				    <span class="readonly">24tp</span>
				  </label>
			</ion-list>

			<a class="button button-block submit button-balanced" id="electricitySubmit">付款确认</a>

			<p class="tips">如果你点击“付款确认”按钮,即表示您打算支付相关费用。</p>	
		</form>	


		<div class="item item-divider" style = "background:#fff;border:0px;">
				
		</div>
	</ion-content>

</ion-view>
