<ion-view title="已付账单查询" id="paybills">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>已付账单查询</h3>
				<p>Pay bills check</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="list-borderless plan">
			<ion-item>
				<div class="row">
					<div class="col">
						<span>付费月份</span>
						<p>2016/07</p>
					</div>
					<div class="col">
						<img src="img/purse.png" alt="">
					</div>
					<div class="col">
						<span>房租</span>
					</div>
					<div class="col">
						<span>-560</span>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col">
						<span>付费月份</span>
						<p>2016/07</p>
					</div>
					<div class="col">
						<img src="img/purse.png" alt="">
					</div>
					<div class="col">
						<span>管理费</span>
					</div>
					<div class="col">
						<span>-100</span>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<div class="item item-divider" style = "background:#fff;border:0px;">
				
		</div>
	</ion-content>
</ion-view>
