<ion-view title="付款计划" id="paymentPlan">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>付款计划</h3>
				<p>Payment plan</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="list-borderless plan">
			<ion-item>
				<div class="row">
					<div class="col">
						<span>付费月份</span>
						<p>2016/07</p>
					</div>
					<div class="col">
						<img src="img/purse.png" alt="">
					</div>
					<div class="col">
						<span>房租</span>
					</div>
					<div class="col">
						<span>应付金额:560</span>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col">
						<span>付费月份</span>
						<p>2016/07</p>
					</div>
					<div class="col">
						<img src="img/purse.png" alt="">
					</div>
					<div class="col">
						<span>管理员</span>
					</div>
					<div class="col">
						<span>应付金额:100</span>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
