<ion-view title="门卡挂失" id="reportCard">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>门卡挂失</h3>
				<p>Report card</p>
			</ion-item>
		</ion-list>
		
		<form action="">
			<ion-list class="list-borderless">
				<label class="item item-input readonly-background">
				    <span class="input-label">房号</span>
				    <span class="readonly">7B08</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">姓名</span>
				    <span class="readonly">LALL</span>
				  </label>
				  <label class="item item-input readonly-background">
				    <span class="input-label">电话</span>
				    <span class="readonly">123456789</span>
				  </label>
				  <label class="item item-input">
				    <span class="input-label">挂失描述</span>
				    <textarea name="question" cols="30" rows="2"  placeholder="填写挂失描述"></textarea>
				  </label>
			</ion-list>

			<a class="button button-block button-balanced submit submitMargin" id="reportCardSubmit" >门卡挂失</a>
		</form>
	</ion-content>
</ion-view>
