<ion-view title="水电用量查询" id="paymentPlan">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>水电用量查询</h3>
				<p>Water and electricity quantity inquiry</p>
			</ion-item>
		</ion-list>
		
		<ion-list class="list-borderless plan">
			<ion-item>
				<div class="row">
					<div class="col">
						<span>月份</span>
						<p>2016/07</p>
					</div>
					<div class="col">
						<img src="img/selfService/electricity.png" alt="">
					</div>
					<div class="col">
						<span>用电量</span>
					</div>
					<div class="col">
						<span>20°</span>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col">
						<span>月份</span>
						<p>2016/07</p>
					</div>
					<div class="col">
						<img src="img/selfService/water.png" alt="">
					</div>
					<div class="col">
						<span>用水量</span>
					</div>
					<div class="col">
						<span>10t</span>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
