<ion-view title="社区活动" id="community">
	<ion-content>
		<ion-list class="list-borderless  theme">
			<ion-item>
				<h3>社区活动</h3>
				<p>Community activeties</p>
			</ion-item>
		</ion-list>

		<ion-list class="list-borderless padding ">
			<ion-item class="activity">
				<img src="img/3-18.jpg" alt="3-18">
				<h3>端午节活动</h3>
				<p>端午节活动介绍:XXXX</p>
			</ion-item>
			<ion-item class="activity">
				<img src="img/3-18.jpg" alt="3-18">
				<h3>端午节活动</h3>
				<p>端午节活动介绍:XXXX</p>
			</ion-item>
			<!-- <ion-item class="activity" ng-repeat="item in items">   循环出来的
				<img ng-src="{{item.image}}" alt="3-18">
				<h3>{{item.tital}}</h3>
				<p>{{item.content}}</p>
			</ion-item> -->
		</ion-list>
	</ion-content>
</ion-view>
