<ion-view name="tabs">
	<ion-tabs>
		<ion-tab title="豌豆首页" icon-on="icon-01" icon-off="icon-02" ui-sref="tabs.peasIndex">
			<ion-nav-view name="index-view"></ion-nav-view>
		</ion-tab>
		<ion-tab title="自助服务" icon-on="icon-03" icon-off="icon-04" ui-sref="tabs.selfService">
			<ion-nav-view name="selfService-view"></ion-nav-view>
		</ion-tab>
		<ion-tab title="社区活动" icon-on="icon-05" icon-off="icon-06" ui-sref="tabs.community">
			<ion-nav-view name="community-view"></ion-nav-view>
		</ion-tab>
		<ion-tab title="会员信息" icon-on="icon-07" icon-off="icon-08" ui-sref="tabs.members">
			<ion-nav-view name="members-view"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>

